<html>
<head>
</head>
<body>
<form name='input' action='/card.html/' method='post'>
Title:<input type='Text' name='title' value=''/><br>
Type:<select>
         <option value='Veg'>veg</option>
         <option value='Non-Veg'>Non-veg</option>
     </select><br>
Ingradient:<input type='Text' name='Ingradient' value=''><br>
Time-To-Cook:<input type= 'Text' name='Time'  value=''/><br>
Steps:<input type='text' name='step' value='' style="width:500px; height:400px;"/><br>
<input type='submit' value="Submit">
</body>
</html>

